
<mat-toolbar color="primary">
    <span>
        <a routerLink="" mat-button>
            <mat-icon>movie_info</mat-icon>
            Angular Peliculas
        </a>
        <a routerLink="generos" mat-button>
            <mat-icon>tv_guide</mat-icon>
            Generos
        </a>
        <a routerLink="actores" mat-button>
            <mat-icon>tv_guide</mat-icon>
            Actores
        </a>
        <a routerLink="cines" mat-button>
            <mat-icon>tv_guide</mat-icon>
            Cines
        </a>
        <a routerLink="peliculas/crear" mat-button>
            <mat-icon>tv_guide</mat-icon>
            Crear Pelicula
        </a>
    </span>
    </mat-toolbar>
